
</head>
<body>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medarbejder lounge - Eksamen webside</title>
    <link rel="stylesheet" href="MedarbejderStyles.css">
</head>
<body>
<section class="header">
    <nav>
        <a href="/static"><img src="../templates/Logo" alt=""></a>
        <div class="nav-links" id="navLinks">
                <li><a href="/static">HOME</a></li>

        </div>
 </section>
<div class="container">
    <h2>Vaelge Din Opgave </h2>
    <div class="price-row">
        <div class="price-col">
            <p>Management</p>
            <h3>Data <span>/ Aftaler</span></h3>
            <ul>
                <li>registrer kunder</li>
                <li>Tjekke Bogholderi</li>
                <li>Tjekke Email </li>
                <li>Update Lejeaftaler</li>
                <li>Godkente Data</li>
                <li> Support</li>
            </ul>
            <a href="/Admin" class="hero-btn"><button>Admin Login</button></a>
        </div>
        <div class="price-col">
            <p>Udvikler</p>
            <h3>Data Oversigt <span>/ Abonnementer</span></h3>
            <ul>
                <li>Tjekke Aftaler</li>
                <li>Tjekke forretningsudvilking</li>
                <li>Kontakt Kollegaer</li>
                <li>Oprette Tilbudder</li>
                <li>Kobe biler hos DS</li>
                <li>Modtager ny Biler</li>
            </ul>
            <a href="/Udvikler" class="hero-btn"><button>Udvikler Login</button></a>
        </div>
        <div class="price-col">
            <p>Vaerksted</p>
            <h3>Mekaniker <span>/ reparationer</span></h3>
            <ul>
                <li>Modtager FDM Data</li>
                <li>Oprette Data til Nye biler</li>
                <li>Check Vaerksted</li>
                <li>Oprette Data til retunerede biler</li>
                <li>Biler pa vaerksted</li>
                <li>Update Priser på skader</li>
            </ul>
            <a href="/værksted" class="hero-btn"><button>Mekaniker Login</button></a>
        </div>
    </div>
</div>
</body>
</html>
</body>
</html>