<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Data Management System</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Data overview System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/CreateKunde" class="hero-btn"> Login</a>
        <a href="Index.html" class="hero-btn">Home</a>
      </li>
    </ul>
  </div>
</nav>

<div class ="container">
  <div class = "row">
    <h1> Lejeaftaler </h1>
  </div>

  <div class = "row">
    <div class = "col-lg-3">
      <a th:href = "@{/Kunde/new}" class = "btn btn-primary btn-sm mb-3"> add Kunde</a>
    </div>
  </div>
  <table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th> Kunde First Name</th>
      <th> Kunde Last Name</th>
      <th> Kunde Email </th>
      <th> Actions </th>
    </tr>
    <tbody>
    <tr th:each = "kunde: ${Kunde}">
      <td th:text = "${Kunde.firstName}"></td>
      <td th:text = "${Kunde.lastName}"></td>
      <td th:text = "${kunde.email}"></td>
      <td>
        <a th:href = "@{/kunde/edit/{id}(id=${Kunde.id})}"
           class = "btn btn-primary">Update</a>

        <a th:href = "@{/Kunde/{id}(id=${Kunde.id})}"
           class = "btn btn-danger">Delete</a>

      </td>
    </tr>
    </tbody>

  </table>

</div>
</body>
</html>